<template name="Home">	    
            <div class="row">
                <div class="col-xs-4">
                    <div id="left-content">
                        <div class="row">
                            
                            <div class="col-xs-2">
                                <div class="thumbnail">                                    
                                    <img src="/img/photo.jpg" alt="...">                                                        
                                </div>
                            </div>
                            
                            <div class="col-xs-4">
                                <h5>Преподаватель</h5>
                                <h6>Николаева Елена Николаевна</h6>
                                <h6>год рождения: 1984</h6>
                                <h6>образование: КГПИ</h6>
                                <h6>телефон: 8-917-569-17-82</h6>
                                <h6>почта: rhea1984@mail.ru</h6>
                            </div>
                            
                        </div>                        
                        
                        <h3><a href="{{pathFor 'students'}}">Студенты </a></h3>
                        <h3>Расписание</h3>
                        <h3>Задать вопрос</h3>                    
                    </div>
                </div>
                <div class="col-xs-4">
                    <h2 id="site-logo">Practice makes perfect</h2>
                    
                    <h3></h3>
                    <h3>Материалы</h3>
                    <h4>Книги</h4>
                    <h4>Рассказы</h4>
                    <h4>Фильмы</h4>
                    <h4>УМК</h4>
                    <h4>Грамматика</h4>
                    <h4>Аудио материалы</h4>
                </div>
            </div>        
</template>