<template name="AddStudent">
    <div class="tutor-container">
        
        <h2 id="component-title">
            New student
        </h2>
        
        <form id="student-form" role="form">
            <div class="form-group  field-name">
                <label for="name">Имя</label>
                <div class="input-div">
                    <input type="text" name="name" required="required"/>
                </div>
            </div>                
            
            <div class="form-group  field-phone">
                <label for="name">Телефон</label>
                <div class="input-div">
                    <input type="text" name="phone" required="required"/>
                </div>
            </div>
            
            <div class="form-group  field-email">
                <label for="name">Email</label>
                <div class="input-div">
                    <input type="text" name="email" required="required"/>
                </div>
            </div>
            
            <div class="form-group  field-ymk">
                <label for="name">УМК</label>
                <div class="input-div">
                    <input type="text" name="ymk" required="required"/>
                </div>
            </div>
                   
            <div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						OK
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>    
        </form>	
    </div>	
</template>